VECTOR_DB_USE_REMOTE=true
VECTOR_DB_REMOTE_HOST=localhost
VECTOR_DB_REMOTE_PORT=8001
COLLECTION_NAME=networking-platform
PROJECT_NAME=networking-platform-ai
NETWORK_NAME=kafka-net
DRY_RUN_MODE=True

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
AUTO_CREATE_TABLES=False
